body {
    font-size: 2em;
    font-family: Lato;
}
  
#title {
    font-size: 4em;
    font-weight: 700;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#piechart {
    flex: 1;
}

#piechart g:hover {
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    overflow: hidden;
    height: 25px;
    background: #d3d3d3;
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    margin: 2vh 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    box-shadow: -100vw 0 0 100vw #222222;
}

#bubble-container {
    padding: 20vh 0;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FF0000;
    box-shadow: 0px 0px 10vh -1.5vh rgba(0,0,0,0.75);
}

.color-bubble + .color-bubble {
    margin-left : 20px;
}

.color-bubble p {
    position: relative;
    top: 100%;
    text-align: center;
}

#opacity-slider {
    display: block;
}