body {
    font-size: 2em;
    font-family: Lato;
  }
  
  #title {
    font-size: 4em;
    font-weight: 700;
  }
  
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #piechart {
    flex: 1;
  }
  
  input[type=range] {
    overflow: hidden;
    display: block;
    -webkit-appearance: none;
    width: 50%;
    height: 10vh;
    background: #222222;
    border-radius: 10px;
  }
  
  input[type=range]::webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  #bubble-container {
    padding: 20vh 0;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color-bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FF0000;
    box-shadow: 0px 0px 10vh -1.5vh rgba(0,0,0,0.75);
  }
  
  .color-bubble + .color-bubble {
    margin-left : 20px;
  }
  
  .color-bubble p {
    position: relative;
    top: 100%;
    text-align: center;
  }
  
  #opacity-slider {
    display: block;
  }